<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>成都方兴服装设计学校</string>
		<key>imageName</key>
		<string>A.jpg</string>
		<key>address</key>
		<string>成都青羊区龙桥镇</string>
		<key>phone</key>
		<string>028-85287851</string>
		<key>detail</key>
		<string>成都方兴服装设计培训学校创办于1997年。最初是专业从事计算机应用、平面设计和语言类课程的教学和研究。为了引进先进的教学理念和管理模式，学校于2001年与上海新世界进修中心成都分中心合作，引进了“室内设计师”培训课程，当时学校地址位于天府广场旁的“城市之心”大厦。通过方兴人执着的追求和不懈的努力，凭借优秀的教学质量和良好的管理模式为学校赢得了良好的口碑，学校规模同时也不断发展和壮大。截止2010年成都方兴服装设计培训学校毕业生已达4000余人，是成都市从事中短期职业教育机构中的佼佼者。\n2002年，通过严谨的市场调研，成都方兴服装设计培训学校再次引进服装设计和园林景观设计两大设计专业课程。在办学水平、教师队伍和市场就业方面，学校进行彻底的创新和改革，形成了规模的办学条件和办学层次。\n2004年成都方兴服装设计培训学校成为ICDA（国际建筑装饰室内设计协会）理事单位及考试中心。\n2005年成为CIDA(中国室内设计协会）授权培训中心及考试中心，中国服装协会授权培训中心及考试中心，国家人力资源及社会保障部职业技能定点培训机构。\n2006年成为成都市金牛区就业训练中心，并将创业培训课程纳入各个专业的教学计划。\n2007年成为全球最大的教育考试认证机构美国 Prometric 公司授权考试中心。\n2008年我校为彻底解决好学员的实习及就业问题，和成都23家装饰企业及15家全国性服装企业建立了人才输出合作协议，学校的就业率达到90%以上。\n2009年学校再次对三大设计课程进行了完善和提高，并潜心研究其发展前景和发展方向。同时在设施设备和课程改革方面也进行了规模提升和实战牵引。在此期间，许多有经验的教师编写了大量具有较高价值的专业教材和教参（多部书籍公开发行）。\n2010年，成都方兴服装设计培训学校在办学规模，办学水平和招生规模上都上了档次，合作办学企业达到了13家，学校为了完善三大设计专业的实践课程，再次率先建立了学员实训基地和实做工作室。填补了学员“纯理论”的空白。目前的成都方兴学校，已是硬件设施完善，教学功能齐全，管理规范和就业畅通的中短期全日制示范校，以校风好，管理严，教学质量高和就业率高而闻名遐迩。</string>
		<key>courseID</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>成都汉普森英语</string>
		<key>imageName</key>
		<string>B.jpg</string>
		<key>address</key>
		<string>成都青羊区西御河街道</string>
		<key>phone</key>
		<string>028-84161676</string>
		<key>detail</key>
		<string>汉普森英语，于2002年3月成立，是中国较早的&quot;洋家教&quot;个性化外语研究及教学机构， 拥有市教委授权民办教育机构资质，并取得国家外专局权威颁发的外国专家聘用许可证。经过近14年的不断发展，汉普森英语已经在全国建立了30家分支教学机构，聘用外教人数达800多位，成为目前国内较大的&quot;洋家教&quot;外语培训基地，为社会培养了2万名专业外语人才，学员包括儿童、青少年、成人及企业定制培训。其独特的&quot;一对一洋家教&quot;教学方式，受到包括中央电视台、北京电视台及各大报纸、网络媒体的关注和报道。 秉承定制教育先锋，为学员提供高效、实用的英语培训服务，汉普森英语自成立之初便建立建全一套完善的教育服务体系，下设教学研究部、外教管理部、客户服务部，全程监督外教教学质量，跟踪学员学习进程及效果。依托汉普森英语... </string>
		<key>courseID</key>
		<array>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
			<string>13</string>
			<string>14</string>
			<string>15</string>
			<string>16</string>
			<string>17</string>
			<string>18</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>成都十月驿设计培训中心</string>
		<key>imageName</key>
		<string>C.jpg</string>
		<key>address</key>
		<string>成都市金牛区花牌坊街</string>
		<key>phone</key>
		<string>028-84161676</string>
		<key>detail</key>
		<string>十月驿教育是中国西南高端IT教育第一品牌，西南地区首创真正设计和开发实训基地，享有盛名的高级计算机技术、网络技术及电子商务培训品牌。依托雄厚的技术实力和行业经验、聚积业界精英，定位于全方位的IT服务解决方案，以优秀的具有创新观念的资深人员为核心，组成精干的管理和业务团队，通过完善的服务体系，依据企业的核心能力，致力于信息技术咨询、企业管理咨询、国际商务咨询、高质量的完成每个服务及教育项目。 十月驿提供免费公开课和最专业定制课程：公开课与企业无缝结合，培训能胜任企事业单位相关岗位的高级技术人才；定制课程则针对市场的需求，具体分析行业现状，定制合适的培训课程内容和详细的培训计划，使培训的内容和培训形式切合市场需求，完成就业。 十月驿拥有人性化的教学品质管理和... </string>
		<key>courseID</key>
		<array>
			<string>19</string>
			<string>20</string>
			<string>21</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>成都华信智原教育 </string>
		<key>imageName</key>
		<string>D.jpg</string>
		<key>address</key>
		<string>西安南路63号金座大厦7楼</string>
		<key>phone</key>
		<string>028-85564603</string>
		<key>detail</key>
		<string>北京华信智原教育技术有限公司创立于2005年，隶属于新华教育集团，总部位于北京市海淀区中关村高新技术开发区。是集高端IT人才培训、软件开发、服务外包、企业服务咨询、企业实训基地建设于一体的高科技综合型企业。 公司多年来专注于软件服务外包、软件工程师培训及其教育课件研发、大型行业解决方案的技术咨询服务、高端人才培养等领域。公司成立以来，承担了多项国家部委和行业委托的专项工程，在软件工程师培养、软件开发及服务外包方面积累了丰富的经验。未来，华信智原势必成为推动中国互联网行业的生力军。新华教育集团始建于1988年，是全国著名的教育机构，是直属国家信息产业部、教育部、劳动和社会保障部的中国IT教育十大影响力品牌。28年来，新华教育集团始终遵照党的教育方针、政策，以服务经济发展... </string>
		<key>courseID</key>
		<array>
			<string>22</string>
			<string>23</string>
			<string>24</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>成都新阳培训学校</string>
		<key>imageName</key>
		<string>E.jpg</string>
		<key>address</key>
		<string>成都市红星路一段</string>
		<key>phone</key>
		<string>13608040975</string>
		<key>detail</key>
		<string>成都新阳培训学校是经国家劳动部批准成立的一所专业计算机培训机构。由多家广告公司及计算机知名企业共同承办，是国家职业资格培训鉴定中心及各项IT认证培训机构。学校1999年成立，具有高级专业的师资力量，在办学数年中积累了丰富的教学经验，创造了一套独有的教学体系，培养了几万名计算机专业人才，为众多大、中型企业输送人才作出了重要的贡献，深得社会各界的好评。\n学校坐落于成都市中心地带，交通便利，环境舒适，内设空调。学校拥有先进的教学设施、设备：高档的教学电脑、打印机、扫描仪、数码相机等。学校有教学经验丰富且专业职称相当高的电脑教师数十名。 \n从创校至今，学校以“学员是上帝，质量是学校的生命”为办学宗旨，以优质服务为理念，开设了全日、半日、白班、晚班、周末班，满足了各... </string>
		<key>courseID</key>
		<array>
			<string>25</string>
			<string>26</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>成都厨味轩美食培训部</string>
		<key>imageName</key>
		<string>F.jpg</string>
		<key>address</key>
		<string>成都市成华区邛崃山路66号</string>
		<key>phone</key>
		<string>18428340778</string>
		<key>detail</key>
		<string>成都厨味轩小吃创业培训中心，隶属于成都厨味轩餐饮管理有限公司，公司位于火车东客站旁，交通便利，距成都最富有盛名的繁华之地春熙路仅4、5站路，成都有美食之都之称，是一家经国家注册的正规餐饮公司。公司前身是重庆味轩厨艺工作室，创立九年多，培养了近万名小吃行业的自主创业的老板，让怀揣创业梦想的年轻人进一步理清创业思路，学会立业技术，走上创业致富的道路。 公司由获“中国名厨”称号的大师亲自主导教学，所教项且独具川渝两地饮食文化精髓，精益求精、独具特色，自成立以来深受广大学员好评 我公司不仅为你提供经获“中国名厨”称号的厨艺大师精心研发的创业项目，让味道征服世人。还免费教授开店选址，如何经营，开业活动等一系列经营方案，既使你对餐饮毫无经验，也可轻松开店，经营当中有任何... </string>
		<key>courseID</key>
		<array>
			<string>27</string>
			<string>28</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>成都群丽化妆美甲学校</string>
		<key>imageName</key>
		<string>G.jpg</string>
		<key>address</key>
		<string>蓝光大厦5楼</string>
		<key>phone</key>
		<string>028-85287851</string>
		<key>detail</key>
		<string>成都市锦江区群丽摄影和形像设计职业技能培训学校，是由群丽婚纱摄影集团投入雄厚的教学资金而成立的。本校引进先进的教学设备，凭借丰富的教学经验，邀请台湾资深形像设计师对课程进行合理设置，并聘请资深化妆师、美甲师进行教学，为学员提供专业的技术课程以“理论与实践相结合，注重实际运用”的教学方式历经十一年风雨，将需要工作的人培养为工作需要的人，为西南地区培养了成千上万的专业化妆、美甲精英，堪称是化妆造型界的“航母”。群丽化妆学校建校以来，在坚持学院派教育的基础上，深入研究我国民族艺术的美学精神并广泛吸收西方现代化妆中的艺术成果。教学中，注重培养学生的专业水平与道德修养，将学生的化妆基本功、化妆基本技能、化妆基础理论与化妆造型独创性素质相结合；在坚持理论与实践相结合... </string>
		<key>courseID</key>
		<array>
			<string>29</string>
			<string>30</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>成都卡耐基口才培训学校</string>
		<key>imageName</key>
		<string>H.jpg</string>
		<key>address</key>
		<string>成都市成华区建设路</string>
		<key>phone</key>
		<string>028-85287851</string>
		<key>detail</key>
		<string>成都卡耐基文化传播有限责任公司（西南卡耐基）是全国联盟培训机构，卡耐基口才训练西南地区唯一授权机构,故又称西南卡耐基。主要的师资均来自北京总部，并由北京卡耐基总部严格培训和认证出来的上岗专业培训讲师。成都卡耐基谨遵卡耐基办学宗旨和理念，整体统一是卡耐基办学模式和独有风格，同时，成都卡耐基培训机构还在当地组建了行业内专家级客座教授和顾问团，定期为学员义务讲座和提供个人咨询指导，为卡耐基培训教育在西南区域的发展注入了新鲜的血液活力。成都卡耐基演讲与口才培训，是沿用美国戴尔卡耐基原创精髓理念，借鉴国外的先进教育理念和教学方法，结合国内需求特点，创造出了独特的口才训练方法,专门为企业与个人提供咨询式培训和体验性训练服务的专业机构。我们一直致力于一流的人才和提供一流... </string>
		<key>courseID</key>
		<array>
			<string>31</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>成都红景泰餐饮培训中心</string>
		<key>imageName</key>
		<string>I.jpg</string>
		<key>address</key>
		<string>红牌楼商业城-a座公寓</string>
		<key>phone</key>
		<string>13688000951</string>
		<key>detail</key>
		<string>成都红景泰创业网隶属于青羊区红景泰技能培训服务部，总部座落于四川省成都市武侯区红牌楼商业城A座。公司以特色川味美食为主题，带您进入致富之路，学一技之长，改变命运。专为想创业而迷茫的人规划蓝图，让您在创业的路上不走弯路，给自己的命运作一次选择的机会。公司自成立以来一直专注于饮食技术研究创新，美食传播，餐饮管理模式研究等。业务范围：特色餐饮技术培训、开店规划、餐饮管理、饮食创业咨询培训、设备及原材料供应等。 我们的优势： 1、我们公司是正规餐饮培训公司，在成都市工商、税务部门已办理相关证件。 2、凡是新学员来访，可以先考察，品尝味道，和在学的学员面对面交流，了解我们的教学情况。一切满意后，再签约学习。 3、老师一对一教学，学员一人一灶亲手操作，让所有培训学员真正学..</string>
		<key>courseID</key>
		<array>
			<string>32</string>
			<string>33</string>
		</array>
	</dict>
</array>
</plist>
