<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstName</key>
		<string>培训</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>服装</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>英语</string>
		<key>secondMenu</key>
		<array>
			<string>英语</string>
			<string>外教</string>
			<string>青少年英语</string>
			<string>考试英语</string>
			<string>企业英语</string>
			<string>少儿英语</string>
			<string>成人英语</string>
			<string>幼儿英语</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>餐饮</string>
		<key>secondMenu</key>
		<array>
			<string>奶茶</string>
			<string>钵钵鸡</string>
			<string>冒菜</string>
			<string>火锅</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>十月驿教育</string>
		<key>secondMenu</key>
		<array>
			<string>十月驿教育</string>
			<string>CDR</string>
			<string>AI</string>
			<string>ui设计全日制</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>华信智原</string>
		<key>secondMenu</key>
		<array>
			<string>华信智原</string>
			<string>IOS</string>
			<string>Java</string>
			<string>Android</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>美甲</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>PS</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>平面广告设计</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>演讲口才</string>
	</dict>
</array>
</plist>
