<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>mass_91</string>
	<string>mass_92</string>
	<string>mass_93</string>
	<string>mass_94</string>
	<string>mass_95</string>
</array>
</plist>
